.message {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}
    .message h3 {
        margin-top: 0;
    }
    .message p {
        margin-bottom: 0;
    }

.message.info {
    border: 1px solid #cadcea;
    background: #e1f2fc;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc), to(#cae9fd));
    background: -moz-linear-gradient(top,  #e1f2fc,  #cae9fd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc', endColorstr='#cae9fd');
    color: #225b86;
    text-shadow: 0 1px 0 #fff;
}

.message.error {
    border: 1px solid #eeb7ba;
    background: #fae2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 0 #fff;
}

.message.success {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}

.message.warning {
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
    background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
    color: #6d7829;
    text-shadow: 0 1px 0 #fff;
}
