table.no-style {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    background: none;
}
table.full {
    width: 100%;
}

table.no-style td, table.no-style th {
    background: none;
    border: none;
}

table.paginate {
    border: 1px solid #aaa;
    border-collapse: separate;
    border-spacing: 0;
}

table.paginate thead th {
    background: #f7f7f7;
    background: #f7f7f7 url(_f7f7f7-e1e1e1.svg);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f7f7f7,  #e1e1e1);
    color: #333;
    cursor: pointer;
    text-shadow: 0 1px 0 #fff;
}

table.paginate, table.paginate thead th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

table.paginate, table.paginate thead th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

table.paginate, table.paginate tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table.paginate, table.paginate tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.paginate th, table.paginate td {
    padding: 5px;
}

table.paginate tbody tr:nth-child(odd) td {
    background: #f9f9f9;
}

table.paginate td.column-selected {
    background: #ffffc0 !important;
}
